In [530]:
import pandas as pd
import numpy as np
import pathfinder as pf

# Parte 1: População geral

In [531]:
filename = "censo_1872-003_p1.csv"
path = pf.find_file(filename)
df = pd.read_csv(path)

In [532]:
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,NaN,NaN,NaN,NaN,Estados Civis,NaN,NaN,NaN,NaN,NaN,...,População escolar de 6 a 15 anos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Sexos,NaN,NaN,dos Homens,NaN,NaN,das Mulheres,NaN,NaN,...,Meninos,NaN,NaN,Meninas,NaN,NaN,Casas,NaN,NaN,NaN
2,Províncias e Município Neutro,Homens,Mulheres,Total,Solteiros,Casados,Viúvos,Solteiras,Casadas,Viúvas,...,Frequentam escolas,Não frequentam,Total,Frequentam escolas,Não frequentam,Total,Habitadas,Desabitadas,Total,Número de fogos
3,Amazonas,30983,2564,56631,24959,5105,919,19214,4714,1720,...,824,5056,5880,371,3269,3640,7661,229,7890,7811
4,Pará,128589,11919,247779,94848,28935,4806,86825,26280,6085,...,5768,25753,31521,3441,25020,28461,38978,2077,41055,39521
5,Maranhão,141942,14215,284101,103283,33644,5015,102302,32337,7520,...,8739,28142,36881,4844,29567,34411,47166,1405,48571,49282
6,Piauí,90322,8810,178427,63294,23323,3705,59547,23371,5187,...,1777,15960,17737,1024,16968,17992,29208,223,29431,30770
7,Ceará,350906,33886,689773,241692,99915,9299,224509,99849,14509,...,10021,83808,93829,5399,85087,90486,99901,2989,102890,100207
8,Rio Grande do Norte,112721,10823,220959,80803,26832,5086,75915,26735,5588,...,2643,18662,21305,2058,19857,21915,36710,706,37416,37320
9,Paraíba,179433,17526,354700,119403,53474,6556,112332,53274,9661,...,6630,44061,50691,3894,45830,49724,43767,522,44289,44438

In [533]:
print(df.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Instrução',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39'],
      dtype='object')

## Gêneros

In [534]:
sexos = df[['Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']]
sexos.head()

                      Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0                            NaN        NaN        NaN        NaN
1                            NaN      Sexos        NaN        NaN
2  Províncias e Município Neutro     Homens   Mulheres      Total
3                       Amazonas      30983       2564      56631
4                           Pará     128589      11919     247779

In [535]:
sexos_header = sexos.iloc[1]
sexos.columns = sexos_header
sexos = sexos[2:]
sexos.head()

1                            NaN   Sexos       NaN     NaN
2  Províncias e Município Neutro  Homens  Mulheres   Total
3                       Amazonas   30983      2564   56631
4                           Pará  128589     11919  247779
5                       Maranhão  141942     14215  284101
6                          Piauí   90322      8810  178427

In [536]:
sexos_header = sexos.iloc[0]
sexos.columns = sexos_header
sexos = sexos[1:]
print(sexos.shape)
print(sexos.columns)
sexos.head()

(22, 4)
Index(['Províncias e Município Neutro', 'Homens', 'Mulheres', 'Total'], dtype='object', name=2)

2 Províncias e Município Neutro  Homens Mulheres   Total
3                      Amazonas   30983     2564   56631
4                          Pará  128589    11919  247779
5                      Maranhão  141942    14215  284101
6                         Piauí   90322     8810  178427
7                         Ceará  350906    33886  689773

In [537]:
columns_multiindex = pd.MultiIndex.from_tuples([
    #('Gêneros', 'Províncias e Município Neutro'),
    ('', 'Províncias e Município Neutro'),
    ('Gêneros', 'Homens'),
    ('Gêneros', 'Mulheres'),
    ('Gêneros', 'Total')
])

# Atribuindo o MultiIndex às colunas do DataFrame
sexos.columns = columns_multiindex
print(sexos.shape)
sexos

(22, 4)

                                  Gêneros
   Províncias e Município Neutro   Homens Mulheres    Total
3                       Amazonas    30983     2564    56631
4                           Pará   128589    11919   247779
5                       Maranhão   141942    14215   284101
6                          Piauí    90322     8810   178427
7                          Ceará   350906    33886   689773
8            Rio Grande do Norte   112721    10823   220959
9                        Paraíba   179433    17526   354700
10                    Pernambuco   381565    37094   752511
11                       Alagoas   155584    15667   312268
12                       Sergipe    74739     7888   153620
13                         Bahia   630353    58143  1211792
14                Espírito Santo    29607    29871    59478
15              Município Neutro   133880    92153   226033
16                Rio de Janeiro   255806   234281   499087
17                     São Paulo   348304   332438   680742
18                        Paraná    59384    56858   116162
19                Santa Catarina    73088    71730   144818
20             Rio Grande do Sul   191022   176000   367022
21                  Minas Gerais   847592   821684  1669276
22                         Goiás    74968    74775   149743
23                   Mato Grosso    27991    25759    53750
24                         Total  4318699  4100973  8419672

### gráfico de pizza

In [538]:
import plotly.graph_objects as go
import plotly.express as px

In [539]:
labels = ['Homens', 'Mulheres']
values = [sexos.iloc[0][('Gêneros', 'Homens')], sexos.iloc[0][('Gêneros', 'Mulheres')]]

# Criar gráfico de pizza com go.Figure
fig = go.Figure(data=[go.Pie(labels=labels, values=values)])

# Atualizar layout do gráfico
fig.update_layout(title_text="Distribuição de Gêneros")

# Exibir gráfico
fig.show()

### gráfico de barras

In [540]:
generos = sexos.drop(24)

# Convertendo as colunas de "Homens" e "Mulheres" para numérico
generos[('Gêneros', 'Homens')] = pd.to_numeric(generos[('Gêneros', 'Homens')])
generos[('Gêneros', 'Mulheres')] = pd.to_numeric(generos[('Gêneros', 'Mulheres')])

# Criando o gráfico de barras
fig = go.Figure()

# Adicionando barras para Homens
fig.add_trace(go.Bar(
    x=generos[('', 'Províncias e Município Neutro')],
    y=generos[('Gêneros', 'Homens')],
    name='Homens',
    marker_color='blue'
))

# Adicionando barras para Mulheres
fig.add_trace(go.Bar(
    x=generos[('', 'Províncias e Município Neutro')],
    y=generos[('Gêneros', 'Mulheres')],
    name='Mulheres',
    marker_color='pink'
))

# Configurações do layout
fig.update_layout(
    title='População por Província e Gênero',
    xaxis_title='Províncias',
    yaxis_title='População',
    barmode='group',  # Barras agrupadas
    template='plotly_white'
)

# Mostrar o gráfico
fig.show()

## Estados civis

In [541]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Instrução',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39'],
      dtype='object')

In [542]:
estados_civis = df[['Unnamed: 0','Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']]
estados_civis.head()

,Unnamed: 0,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Estados Civis,NaN,NaN,NaN,NaN,NaN
1,NaN,dos Homens,NaN,NaN,das Mulheres,NaN,NaN
2,Províncias e Município Neutro,Solteiros,Casados,Viúvos,Solteiras,Casadas,Viúvas
3,Amazonas,24959,5105,919,19214,4714,1720
4,Pará,94848,28935,4806,86825,26280,6085

In [543]:
estados_civis_header = estados_civis.iloc[0]
estados_civis.columns = estados_civis_header
estados_civis = estados_civis[3:]
estados_civis.head()

0       NaN Estados Civis    NaN   NaN     NaN    NaN    NaN
3  Amazonas         24959   5105   919   19214   4714   1720
4      Pará         94848  28935  4806   86825  26280   6085
5  Maranhão        103283  33644  5015  102302  32337   7520
6     Piauí         63294  23323  3705   59547  23371   5187
7     Ceará        241692  99915  9299  224509  99849  14509

In [544]:
columns_multiindex = pd.MultiIndex.from_tuples([
    #('Gêneros', 'Províncias e Município Neutro'),
    ('', 'Províncias e Município Neutro'),
    ('dos Homens', 'Solteiros'),
    ('dos Homens', 'Casados'),
    ('dos Homens', 'Viúvos'),
    ('das Mulheres', 'Solteiras'),
    ('das Mulheres', 'Casadas'),
    ('das Mulheres', 'Viúvas')
])

# Atribuindo o MultiIndex às colunas do DataFrame
estados_civis.columns = columns_multiindex
print(estados_civis.shape)
estados_civis

(22, 7)

                                 dos Homens                  das Mulheres  \
   Províncias e Município Neutro  Solteiros  Casados  Viúvos    Solteiras
3                       Amazonas      24959     5105     919        19214
4                           Pará      94848    28935    4806        86825
5                       Maranhão     103283    33644    5015       102302
6                          Piauí      63294    23323    3705        59547
7                          Ceará     241692    99915    9299       224509
8            Rio Grande do Norte      80803    26832    5086        75915
9                        Paraíba     119403    53474    6556       112332
10                    Pernambuco     258936   111189   11440       240239
11                       Alagoas     102729    47865    4990        99772
12                       Sergipe      48013    24027    2699        50746
13                         Bahia     440556   160204   29593       398473
14                Espírito Santo      19415     9298     894        19251
15              Município Neutro     104036    25763    4081        64074
16                Rio de Janeiro     168391    71842   15573       148840
17                     São Paulo     234386    98864   15054       218684
18                        Paraná      37977    18649    2678        35006
19                Santa Catarina      49985    21351    1752        47122
20             Rio Grande do Sul     139899    45104    6019       124864
21                  Minas Gerais     572728   231947   42917       557389
22                         Goiás      51886    20696    2386        50125
23                   Mato Grosso      18227     7839    1925        17353
24                         Total    2975446  1165866  177387      2752582


    Casadas  Viúvas
3      4714    1720
4     26280    6085
5     32337    7520
6     23371    5187
7     99849   14509
8     26735    5588
9     53274    9661
10   111465   19242
11    46743   10169
12    24795    3340
13   151883   31083
14     9449    1171
15    20174    7905
16    68726   16715
17    96290   17464
18    18332    3520
19    20412    4196
20    41525    9611
21   217353   46942
22    20340    4310
23     6953    1453
24  1121000  227391

In [545]:
estados_civis.drop(columns=('', 'Províncias e Município Neutro'), inplace=True)

In [546]:
df_sex_estados_c = pd.concat([sexos, estados_civis], axis=1)
df_sex_estados_c

                                  Gêneros                   dos Homens  \
   Províncias e Município Neutro   Homens Mulheres    Total  Solteiros
3                       Amazonas    30983     2564    56631      24959
4                           Pará   128589    11919   247779      94848
5                       Maranhão   141942    14215   284101     103283
6                          Piauí    90322     8810   178427      63294
7                          Ceará   350906    33886   689773     241692
8            Rio Grande do Norte   112721    10823   220959      80803
9                        Paraíba   179433    17526   354700     119403
10                    Pernambuco   381565    37094   752511     258936
11                       Alagoas   155584    15667   312268     102729
12                       Sergipe    74739     7888   153620      48013
13                         Bahia   630353    58143  1211792     440556
14                Espírito Santo    29607    29871    59478      19415
15              Município Neutro   133880    92153   226033     104036
16                Rio de Janeiro   255806   234281   499087     168391
17                     São Paulo   348304   332438   680742     234386
18                        Paraná    59384    56858   116162      37977
19                Santa Catarina    73088    71730   144818      49985
20             Rio Grande do Sul   191022   176000   367022     139899
21                  Minas Gerais   847592   821684  1669276     572728
22                         Goiás    74968    74775   149743      51886
23                   Mato Grosso    27991    25759    53750      18227
24                         Total  4318699  4100973  8419672    2975446

                    das Mulheres
    Casados  Viúvos    Solteiras  Casadas  Viúvas
3      5105     919        19214     4714    1720
4     28935    4806        86825    26280    6085
5     33644    5015       102302    32337    7520
6     23323    3705        59547    23371    5187
7     99915    9299       224509    99849   14509
8     26832    5086        75915    26735    5588
9     53474    6556       112332    53274    9661
10   111189   11440       240239   111465   19242
11    47865    4990        99772    46743   10169
12    24027    2699        50746    24795    3340
13   160204   29593       398473   151883   31083
14     9298     894        19251     9449    1171
15    25763    4081        64074    20174    7905
16    71842   15573       148840    68726   16715
17    98864   15054       218684    96290   17464
18    18649    2678        35006    18332    3520
19    21351    1752        47122    20412    4196
20    45104    6019       124864    41525    9611
21   231947   42917       557389   217353   46942
22    20696    2386        50125    20340    4310
23     7839    1925        17353     6953    1453
24  1165866  177387      2752582  1121000  227391

In [547]:
#(            '', 'Províncias e Município Neutro') == "Ceará"
test_index = df_sex_estados_c.set_index((            '', 'Províncias e Município Neutro'))
print(test_index.axes)
test_index.loc[['Ceará', 'Total']]

[Index(['Amazonas', 'Pará', 'Maranhão', 'Piauí', 'Ceará', 'Rio Grande do Norte',
       'Paraíba', 'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia',
       'Espírito Santo', 'Município Neutro', 'Rio de Janeiro', 'São Paulo',
       'Paraná', 'Santa Catarina', 'Rio Grande do Sul', 'Minas Gerais',
       'Goiás', 'Mato Grosso', 'Total'],
      dtype='object', name=('', 'Províncias e Município Neutro')), MultiIndex([(     'Gêneros',    'Homens'),
            (     'Gêneros',  'Mulheres'),
            (     'Gêneros',     'Total'),
            (  'dos Homens', 'Solteiros'),
            (  'dos Homens',   'Casados'),
            (  'dos Homens',    'Viúvos'),
            ('das Mulheres', 'Solteiras'),
            ('das Mulheres',   'Casadas'),
            ('das Mulheres',    'Viúvas')],
           )]

                                   Gêneros                   dos Homens  \
                                    Homens Mulheres    Total  Solteiros
(, Províncias e Município Neutro)
Ceará                               350906    33886   689773     241692
Total                              4318699  4100973  8419672    2975446

                                                   das Mulheres           \
                                   Casados  Viúvos    Solteiras  Casadas
(, Províncias e Município Neutro)
Ceará                                99915    9299       224509    99849
Total                              1165866  177387      2752582  1121000


                                   Viúvas
(, Províncias e Município Neutro)
Ceará                               14509
Total                              227391

### métricas estatísticas

In [548]:
df_pct_change = test_index.loc[['Ceará', 'Total']]
df_pct_change = df_pct_change.apply(pd.to_numeric)

# Calcular a mudança percentual entre o slice (linha 0) e o total (linha 1)
percentual_mudanca = df_pct_change.pct_change().iloc[1] * 100

# Exibir o resultado
percentual_mudanca

Gêneros       Homens        1130.728172
              Mulheres     12002.263472
              Total         1120.643893
dos Homens    Solteiros     1131.089982
              Casados       1066.857829
              Viúvos        1807.592214
das Mulheres  Solteiras     1126.045281
              Casadas       1022.695270
              Viúvas        1467.241023
Name: Total, dtype: float64

In [549]:
df_pct_change_total = test_index.loc[['Ceará', 'Total']]
df_pct_change_total = df_pct_change_total.apply(pd.to_numeric)

# Calcular quanto o slice representa do total
(df_pct_change_total.iloc[0] / df_pct_change_total.iloc[1]) * 100

Gêneros       Homens       8.125271
              Mulheres     0.826292
              Total        8.192398
dos Homens    Solteiros    8.122883
              Casados      8.570024
              Viúvos       5.242211
das Mulheres  Solteiras    8.156306
              Casadas      8.907136
              Viúvas       6.380640
dtype: float64

In [550]:
### Quantil

In [551]:
# Não sei se faz sentido calcular quantil
df_pct_change_total.quantile(0.50)

Gêneros       Homens       2334802.5
              Mulheres     2067429.5
              Total        4554722.5
dos Homens    Solteiros    1608569.0
              Casados       632890.5
              Viúvos         93343.0
das Mulheres  Solteiras    1488545.5
              Casadas       610424.5
              Viúvas        120950.0
Name: 0.5, dtype: float64

## Raças

In [552]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Instrução',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39'],
      dtype='object')

In [553]:
racas = df[['Unnamed: 0','Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17']]
racas.head()

,Unnamed: 0,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,Raças,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,dos Homens,NaN,NaN,NaN,das Mulheres,NaN,NaN,NaN
2,Províncias e Município Neutro,Brancos,Pardos,Pretos,Caboclos,Brancas,Pardas,Pretas,Caboclas
3,Amazonas,6911,4210,711,19151,4300,3046,625,17677
4,Pará,49663,46899,9200,22827,42971,46828,7629,21762

In [554]:
racas_header = racas.iloc[0]
racas.columns = racas_header
racas = racas[3:]
racas.head()

0       NaN   Raças     NaN    NaN    NaN     NaN     NaN    NaN    NaN
3  Amazonas    6911    4210    711  19151    4300    3046    625  17677
4      Pará   49663   46899   9200  22827   42971   46828   7629  21762
5  Maranhão   52267   71662  12504   5509   51246   72699  12780   5434
6     Piauí   22208   53474   7505   7135   21239   53191   7357   6318
7     Ceará  136940  172841  14424  26701  131896  166325  14510  26136

In [555]:
columns_multindex = pd.MultiIndex.from_tuples([
    #('Gêneros', 'Províncias e Município Neutro'),
    ('', 'Províncias e Município Neutro'),
    ('dos Homens', 'Brancos'),
    ('dos Homens', 'Pardos'),
    ('dos Homens', 'Pretos'),
    ('dos Homens', 'Caboclos'),
    ('das Mulheres', 'Brancas'),
    ('das Mulheres', 'Pardas'),
    ('das Mulheres', 'Pretas'),
    ('das Mulheres', 'Caboclas')
])

# Atribuindo o MultiIndex às colunas do DataFrame
racas.columns = columns_multindex

racas

                                 dos Homens                            \
   Províncias e Município Neutro    Brancos   Pardos  Pretos Caboclos
3                       Amazonas       6911     4210     711    19151
4                           Pará      49663    46899    9200    22827
5                       Maranhão      52267    71662   12504     5509
6                          Piauí      22208    53474    7505     7135
7                          Ceará     136940   172841   14424    26701
8            Rio Grande do Norte      52835    42213   12202     5471
9                        Paraíba      73475    89921   11155     4882
10                    Pernambuco     149930   194897   30795     5943
11                       Alagoas      45343    98916    8220     3105
12                       Sergipe      24358    39524    9321     1536
13                         Bahia     178605   287131  137574    27043
14                Espírito Santo      13555     9648    3395     3009
15              Município Neutro      96255    22762   14198      665
16                Rio de Janeiro     160595    61542   29517     4152
17                     São Paulo     221260    76288   29512    21244
18                        Paraná      35936    15358    3292     4718
19                Santa Catarina      63502     5941    2199     1446
20             Rio Grande do Sul     136094    24487   17828    12613
21                  Minas Gerais     421861   302948  105507    17276
22                         Goiás      21152    42482    9088     2246
23                   Mato Grosso       9027    10827    3861     4276
24                         Total    1971772  1673971  472008   200948

   das Mulheres
        Brancas   Pardas  Pretas Caboclas
3          4300     3046     625    17677
4         42971    46828    7629    21762
5         51246    72699   12780     5434
6         21239    53191    7357     6318
7        131896   166325   14510    26136
8         49630    41877   11163     5568
9         71246    88675   10661     4685
10       141229   192954   30901     5862
11        43455   101283    8687     3259
12        25420    42059    9851     1551
13       152874   278573  127153    22839
14        13027    10881    3443     2520
15        55544    22083   14268      258
16       142680    59703   28198     3700
17       212172    75018   27027    18221
18        33762    15278    3449     4369
19        62440     5796    2048     1446
20       122273    24179   16444    13104
21       409126   295865  101647    15046
22        20777    43907    8087     2004
23         8210    10087    3214     4248
24      1815517  1650307  449142   186007

In [556]:
racas.to_dict()

{('', 'Províncias e Município Neutro'): {3: 'Amazonas',
  4: 'Pará',
  5: 'Maranhão',
  6: 'Piauí',
  7: 'Ceará',
  8: 'Rio Grande do Norte',
  9: 'Paraíba',
  10: 'Pernambuco',
  11: 'Alagoas',
  12: 'Sergipe',
  13: 'Bahia',
  14: 'Espírito Santo',
  15: 'Município Neutro',
  16: 'Rio de Janeiro',
  17: 'São Paulo',
  18: 'Paraná',
  19: 'Santa Catarina',
  20: 'Rio Grande do Sul',
  21: 'Minas Gerais',
  22: 'Goiás',
  23: 'Mato Grosso',
  24: 'Total'},
 ('dos Homens', 'Brancos'): {3: '6911',
  4: '49663',
  5: '52267',
  6: '22208',
  7: '136940',
  8: '52835',
  9: '73475',
  10: '149930',
  11: '45343',
  12: '24358',
  13: '178605',
  14: '13555',
  15: '96255',
  16: '160595',
  17: '221260',
  18: '35936',
  19: '63502',
  20: '136094',
  21: '421861',
  22: '21152',
  23: '9027',
  24: '1971772'},
 ('dos Homens', 'Pardos'): {3: '4210',
  4: '46899',
  5: '71662',
  6: '53474',
  7: '172841',
  8: '42213',
  9: '89921',
  10: '194897',
  11: '98916',
  12: '39524',
  13: '287131',
  14: '9648',
  15: '22762',
  16: '61542',
  17: '76288',
  18: '15358',
  19: '5941',
  20: '24487',
  21: '302948',
  22: '42482',
  23: '10827',
  24: '1673971'},
 ('dos Homens', 'Pretos'): {3: '711',
  4: '9200',
  5: '12504',
  6: '7505',
  7: '14424',
  8: '12202',
  9: '11155',
  10: '30795',
  11: '8220',
  12: '9321',
  13: '137574',
  14: '3395',
  15: '14198',
  16: '29517',
  17: '29512',
  18: '3292',
  19: '2199',
  20: '17828',
  21: '105507',
  22: '9088',
  23: '3861',
  24: '472008'},
 ('dos Homens', 'Caboclos'): {3: '19151',
  4: '22827',
  5: '5509',
  6: '7135',
  7: '26701',
  8: '5471',
  9: '4882',
  10: '5943',
  11: '3105',
  12: '1536',
  13: '27043',
  14: '3009',
  15: '665',
  16: '4152',
  17: '21244',
  18: '4718',
  19: '1446',
  20: '12613',
  21: '17276',
  22: '2246',
  23: '4276',
  24: '200948'},
 ('das Mulheres', 'Brancas'): {3: '4300',
  4: '42971',
  5: '51246',
  6: '21239',
  7: '131896',
  8: '49630',
  9: '71246',
  10: '141229',
  11: '43455',
  12: '25420',
  13: '152874',
  14: '13027',
  15: '55544',
  16: '142680',
  17: '212172',
  18: '33762',
  19: '62440',
  20: '122273',
  21: '409126',
  22: '20777',
  23: '8210',
  24: '1815517'},
 ('das Mulheres', 'Pardas'): {3: '3046',
  4: '46828',
  5: '72699',
  6: '53191',
  7: '166325',
  8: '41877',
  9: '88675',
  10: '192954',
  11: '101283',
  12: '42059',
  13: '278573',
  14: '10881',
  15: '22083',
  16: '59703',
  17: '75018',
  18: '15278',
  19: '5796',
  20: '24179',
  21: '295865',
  22: '43907',
  23: '10087',
  24: '1650307'},
 ('das Mulheres', 'Pretas'): {3: '625',
  4: '7629',
  5: '12780',
  6: '7357',
  7: '14510',
  8: '11163',
  9: '10661',
  10: '30901',
  11: '8687',
  12: '9851',
  13: '127153',
  14: '3443',
  15: '14268',
  16: '28198',
  17: '27027',
  18: '3449',
  19: '2048',
  20: '16444',
  21: '101647',
  22: '8087',
  23: '3214',
  24: '449142'},
 ('das Mulheres', 'Caboclas'): {3: '17677',
  4: '21762',
  5: '5434',
  6: '6318',
  7: '26136',
  8: '5568',
  9: '4685',
  10: '5862',
  11: '3259',
  12: '1551',
  13: '22839',
  14: '2520',
  15: '258',
  16: '3700',
  17: '18221',
  18: '4369',
  19: '1446',
  20: '13104',
  21: '15046',
  22: '2004',
  23: '4248',
  24: '186007'}}

### gráfico de barras

In [557]:
racas.columns

MultiIndex([(            '', 'Províncias e Município Neutro'),
            (  'dos Homens',                       'Brancos'),
            (  'dos Homens',                        'Pardos'),
            (  'dos Homens',                        'Pretos'),
            (  'dos Homens',                      'Caboclos'),
            ('das Mulheres',                       'Brancas'),
            ('das Mulheres',                        'Pardas'),
            ('das Mulheres',                        'Pretas'),
            ('das Mulheres',                      'Caboclas')],
           )

In [558]:
racas_bar = racas.drop(24)

for i, col in enumerate(racas.columns):
    if(i >= 1):
        racas[col] = pd.to_numeric(racas[col])
    
# Criando o gráfico de barras
fig = go.Figure()

# Adicionando barras para homens em cada categoria
for category in ['Brancos', 'Pardos', 'Pretos', 'Caboclos']:
    fig.add_trace(go.Bar(
        x=racas_bar[('', 'Províncias e Município Neutro')],
        y=racas_bar[('dos Homens', category)],
        name=f'Homens - {category}',
        marker_color='blue' if category == 'Brancos' else 
                      'orange' if category == 'Pardos' else 
                      'black' if category == 'Pretos' else 
                      'green'
    ))

# Adicionando barras para mulheres em cada categoria
for category in ['Brancas', 'Pardas', 'Pretas', 'Caboclas']:
    fig.add_trace(go.Bar(
        x=racas_bar[('', 'Províncias e Município Neutro')],
        y=racas_bar[('das Mulheres', category)],
        name=f'Mulheres - {category}',
        marker_color='lightblue' if category == 'Brancas' else 
                      'lightcoral' if category == 'Pardas' else 
                      'lightpink' if category == 'Pretas' else 
                      'lightgreen'
    ))

# Configurações do layout
fig.update_layout(
    title='População por Província e Raça (Homens e Mulheres)',
    xaxis_title='Províncias',
    yaxis_title='População',
    barmode='group',
    xaxis_tickangle=-45,
)

fig.update_yaxes(autorange=True)
# Mostrando o gráfico
fig.show()

In [559]:
racas_bar.iloc[0, 0]

'Amazonas'

In [560]:
racas_bar.iloc[0, racas_bar.columns.get_loc(('dos Homens', 'Brancos'))]

'6911'

In [563]:
# Definindo os traces
traces = []

# Convertendo as colunas numéricas para int
for col in racas_bar.columns:
    if racas_bar[col].dtype == 'object':  # Verifica se o tipo de dado é 'object' (strings)
        try:
            racas_bar[col] = pd.to_numeric(racas_bar[col])  # Tenta converter para numérico (int/float)
        except ValueError:
            pass  # Se não puder ser convertido (ex: nomes), ignora


# Adicionando as barras de homens
for category in ['Brancos', 'Pardos', 'Pretos', 'Caboclos']:
    trace = {
        "type": "bar",
        "x": [racas_bar.iloc[i, 0] for i in range(len(racas_bar))],  # Coluna de Províncias
        "y": [racas_bar.iloc[i, racas_bar.columns.get_loc(('dos Homens', category))] for i in range(len(racas_bar))],
        "name": f'Homens - {category}',
        "marker": {"color": 'blue' if category == 'Brancos' else 
                   'orange' if category == 'Pardos' else 
                   'black' if category == 'Pretos' else 
                   'green'}
    }
    traces.append(trace)

# Adicionando as barras de mulheres
for category in ['Brancas', 'Pardas', 'Pretas', 'Caboclas']:
    trace = {
        "type": "bar",
        "x": [racas_bar.iloc[i, 0] for i in range(len(racas_bar))],  # Coluna de Províncias
        "y": [racas_bar.iloc[i, racas_bar.columns.get_loc(('das Mulheres', category))] for i in range(len(racas_bar))],
        "name": f'Mulheres - {category}',
        "marker": {"color": 'lightblue' if category == 'Brancas' else 
                   'lightcoral' if category == 'Pardas' else 
                   'lightpink' if category == 'Pretas' else 
                   'lightgreen'}
    }
    traces.append(trace)

# Criando o gráfico com as traces definidas
fig = go.Figure(data=traces)

# Configurações do layout
fig.update_layout(
    title='População por Província e Raça (Homens e Mulheres)',
    xaxis_title='Províncias',
    yaxis_title='População',
    barmode='group'
)

# Exibindo o gráfico
fig.show()

In [443]:
racas_bar.iloc[0]

              Províncias e Município Neutro    Amazonas
dos Homens    Brancos                              6911
              Pardos                               4210
              Pretos                                711
              Caboclos                            19151
das Mulheres  Brancas                              4300
              Pardas                               3046
              Pretas                                625
              Caboclas                            17677
Name: 3, dtype: object

## Religiao

In [444]:
religiao = df[['Unnamed: 0','Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21']]
religiao.head()

,Unnamed: 0,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,Religião,NaN,NaN,NaN
1,NaN,dos Homens,NaN,das Mulheres,NaN
2,Províncias e Município Neutro,Católicos,Acatólicos,Católicas,Acatólicas
3,Amazonas,30903,80,25641,7
4,Pará,128396,193,119169,21

In [445]:
religiao_header = religiao.iloc[0]
religiao.columns = religiao_header
religiao = religiao[1:]
religiao.head()

,NaN,Religião,NaN,NaN,NaN
1,NaN,dos Homens,NaN,das Mulheres,NaN
2,Províncias e Município Neutro,Católicos,Acatólicos,Católicas,Acatólicas
3,Amazonas,30903,80,25641,7
4,Pará,128396,193,119169,21
5,Maranhão,141865,77,142100,59

## Nacionalidade

In [446]:
nacionalidade = df[['Unnamed: 0','Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25']]
nacionalidade.head()

,Unnamed: 0,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,Nacionalidades,NaN,NaN,NaN
1,NaN,dos Homens,NaN,das Mulheres,NaN
2,Províncias e Município Neutro,Brasileiros,Estrangeiros,Brasileiras,Estrangeiras
3,Amazonas,29223,1760,25222,426
4,Pará,123365,5224,118437,753

In [447]:
nacionalidade_header = nacionalidade.iloc[0]
nacionalidade.columns = nacionalidade_header
nacionalidade = nacionalidade[1:]
nacionalidade.head()

,NaN,Nacionalidades,NaN,NaN,NaN
1,NaN,dos Homens,NaN,das Mulheres,NaN
2,Províncias e Município Neutro,Brasileiros,Estrangeiros,Brasileiras,Estrangeiras
3,Amazonas,29223,1760,25222,426
4,Pará,123365,5224,118437,753
5,Maranhão,139413,2529,141191,968

## Instrução

In [448]:
instrucao = df[['Unnamed: 0','Instrução', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35']]
instrucao.head()

,Unnamed: 0,Instrução,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,NaN,NaN,NaN,NaN,NaN,População escolar de 6 a 15 anos,NaN,NaN,NaN,NaN,NaN
1,NaN,Homens,NaN,Mulheres,NaN,Meninos,NaN,NaN,Meninas,NaN,NaN
2,Províncias e Município Neutro,Sabem ler e escrever,Analfabetos,Sabem ler e escrever,Analfabetas,Frequentam escolas,Não frequentam,Total,Frequentam escolas,Não frequentam,Total
3,Amazonas,6160,24823,1453,24195,824,5056,5880,371,3269,3640
4,Pará,39718,88871,20677,98513,5768,25753,31521,3441,25020,28461

In [449]:
instrucao_header = instrucao.iloc[0]
instrucao.columns = instrucao_header
instrucao = instrucao[1:]
instrucao.head()

,NaN,NaN,NaN,NaN,NaN,População escolar de 6 a 15 anos,NaN,NaN,NaN,NaN,NaN
1,NaN,Homens,NaN,Mulheres,NaN,Meninos,NaN,NaN,Meninas,NaN,NaN
2,Províncias e Município Neutro,Sabem ler e escrever,Analfabetos,Sabem ler e escrever,Analfabetas,Frequentam escolas,Não frequentam,Total,Frequentam escolas,Não frequentam,Total
3,Amazonas,6160,24823,1453,24195,824,5056,5880,371,3269,3640
4,Pará,39718,88871,20677,98513,5768,25753,31521,3441,25020,28461
5,Maranhão,44375,97567,24196,117963,8739,28142,36881,4844,29567,34411

### Adultos

In [450]:
instrucao_adultos = df[['Unnamed: 0','Instrução', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29']]
instrucao_adultos.head()

,Unnamed: 0,Instrução,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,NaN,NaN,NaN,NaN
1,NaN,Homens,NaN,Mulheres,NaN
2,Províncias e Município Neutro,Sabem ler e escrever,Analfabetos,Sabem ler e escrever,Analfabetas
3,Amazonas,6160,24823,1453,24195
4,Pará,39718,88871,20677,98513

In [451]:
instrucao_adultos_header = instrucao_adultos.iloc[1]
instrucao_adultos.columns = instrucao_adultos_header
instrucao_adultos = instrucao_adultos[2:]
instrucao_adultos.head()

1,NaN,Homens,NaN,Mulheres,NaN
2,Províncias e Município Neutro,Sabem ler e escrever,Analfabetos,Sabem ler e escrever,Analfabetas
3,Amazonas,6160,24823,1453,24195
4,Pará,39718,88871,20677,98513
5,Maranhão,44375,97567,24196,117963
6,Piauí,17677,72645,10093,78012

### Jovens

In [452]:
instrucao_jovens = df[['Unnamed: 0', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35']]
instrucao_jovens.head()

,Unnamed: 0,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,NaN,População escolar de 6 a 15 anos,NaN,NaN,NaN,NaN,NaN
1,NaN,Meninos,NaN,NaN,Meninas,NaN,NaN
2,Províncias e Município Neutro,Frequentam escolas,Não frequentam,Total,Frequentam escolas,Não frequentam,Total
3,Amazonas,824,5056,5880,371,3269,3640
4,Pará,5768,25753,31521,3441,25020,28461

In [453]:
instrucao_jovens_header = instrucao_jovens.iloc[0]
instrucao_jovens.columns = instrucao_jovens_header
instrucao_jovens = instrucao_jovens[1:]
instrucao_jovens.head()

,NaN,População escolar de 6 a 15 anos,NaN,NaN,NaN,NaN,NaN
1,NaN,Meninos,NaN,NaN,Meninas,NaN,NaN
2,Províncias e Município Neutro,Frequentam escolas,Não frequentam,Total,Frequentam escolas,Não frequentam,Total
3,Amazonas,824,5056,5880,371,3269,3640
4,Pará,5768,25753,31521,3441,25020,28461
5,Maranhão,8739,28142,36881,4844,29567,34411

## Casas

In [454]:
casas = df[['Unnamed: 0','Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38']]
casas.head()

                      Unnamed: 0 Unnamed: 36  Unnamed: 37 Unnamed: 38
0                            NaN         NaN          NaN         NaN
1                            NaN       Casas          NaN         NaN
2  Províncias e Município Neutro   Habitadas  Desabitadas       Total
3                       Amazonas        7661          229        7890
4                           Pará       38978         2077       41055

In [455]:
casas_header = casas.iloc[1]
casas.columns = casas_header
casas = casas[2:]
casas.head()

1                            NaN      Casas          NaN    NaN
2  Províncias e Município Neutro  Habitadas  Desabitadas  Total
3                       Amazonas       7661          229   7890
4                           Pará      38978         2077  41055
5                       Maranhão      47166         1405  48571
6                          Piauí      29208          223  29431

## Fogos

In [456]:
fogos = df[['Unnamed: 0', 'Unnamed: 39']]
fogos.head()

                      Unnamed: 0      Unnamed: 39
0                            NaN              NaN
1                            NaN              NaN
2  Províncias e Município Neutro  Número de fogos
3                       Amazonas             7811
4                           Pará            39521

In [457]:
fogos_header = fogos.iloc[2]
fogos.columns = fogos_header
fogos = fogos[3:]
fogos.head()

2 Províncias e Município Neutro Número de fogos
3                      Amazonas            7811
4                          Pará           39521
5                      Maranhão           49282
6                         Piauí           30770
7                         Ceará          100207

# Parte 2: Pooulação total, livre e escrava

In [458]:
filename = "censo_1872-003_p2.csv"
path = pf.find_file(filename)
df = pd.read_csv(path)

df.head(10)

,Recapitulação,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,População livre,4318699,4100973,8419672,2975446,1165866,177387,2752582,1121000,227391,...,155651,786131,941782,165098,795574,960672,1296060,34150,1330210,1332274
1,População escrava,805170,705636,1510806,711869,73079,20222,622804,63046,19816,...,155651,786131,941782,165098,795574,960672,1296060,34150,1330210,1332274
2,Total,512389,4806609,9930478,3687315,1238945,197609,3375386,1184016,247207,...,155651,786131,941782,165098,1332274,960672,1296060,34150,1330210,1332274

In [459]:
print(df.columns)

Index(['Recapitulação', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39'],
      dtype='object')

## Sexos

In [460]:
sexos2 = df[['Recapitulação','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']]
sexos2 = sexos2.rename(columns={'Unnamed: 1': 'Homens', 'Unnamed: 2': 'Mulheres', 'Unnamed: 3': 'Total'})
sexos2.head()

       Recapitulação   Homens  Mulheres    Total
0    População livre  4318699   4100973  8419672
1  População escrava   805170    705636  1510806
2              Total   512389   4806609  9930478

## Estados civis

In [461]:
estados_civis2 = df[['Recapitulação','Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']]
estados_civis2 = estados_civis2.rename(columns={'Unnamed: 4': 'Solteiros', 'Unnamed: 5': 'Casados', 'Unnamed: 6': 'Viúvos', 'Unnamed: 7': 'Solteiras', 'Unnamed: 8': 'Casadas', 'Unnamed: 9': 'Viúvas'})
estados_civis2.head()

       Recapitulação  Solteiros  Casados  Viúvos  Solteiras  Casadas  Viúvas
0    População livre    2975446  1165866  177387    2752582  1121000  227391
1  População escrava     711869    73079   20222     622804    63046   19816
2              Total    3687315  1238945  197609    3375386  1184016  247207

## Raças

In [462]:
racas2 = df[['Recapitulação','Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17']]
racas2 = racas2.rename(columns={'Unnamed: 10': 'Brancos', 'Unnamed: 11': 'Pardos', 'Unnamed: 12': 'Pretos', 'Unnamed: 13': 'Caboclos', 'Unnamed: 14': 'Brancas', 'Unnamed: 15': 'Pardas', 'Unnamed: 16': 'Pretas', 'Unnamed: 17': 'Caboclas'})
racas2.head()

,Recapitulação,Brancos,Pardos,Pretos,Caboclos,Brancas,Pardas,Pretas,Caboclas
0,População livre,1971772,1673971,472008,200948,1815517,1650307,449142,186007
1,População escrava,0,252824,552346,0,0,224680,480956,0
2,Total,1971772,1926795,1024354,200948,1815517,1874987,930098,186007

## Religião

In [463]:
religiao2 = df[['Recapitulação','Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21']]
religiao2 = religiao2.rename(columns={'Unnamed: 18': 'Católicos', 'Unnamed: 19': 'Acatólicos', 'Unnamed: 20': 'Católicas', 'Unnamed: 21': 'Acatólicas'})
religiao2.head()

       Recapitulação  Católicos  Acatólicos  Católicas  Acatólicas
0    População livre    4302386       16313    4089520       11453
1  População escrava     895170           0     705636           0
2              Total    5107556       16313    4795156       11453

## Nacionalidade

In [464]:
nacionalidade2 = df[['Recapitulação','Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25']]
nacionalidade2 = nacionalidade2.rename(columns={'Unnamed: 22': 'Brasileiros', 'Unnamed: 23': 'Estrangeiros', 'Unnamed: 24': 'Brasileiras', 'Unnamed: 25': 'Estrangeiras'})
nacionalidade2.head()

       Recapitulação  Brasileiros  Estrangeiros  Brasileiras  Estrangeiras
0    População livre      4139362        179337      4036829         64144
1  População escrava       719630         35540       352616         53020
2              Total      4853992        264877      4689945        117164

## Instrução

In [465]:
instrucao2 = df[['Recapitulação','Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35']]
instrucao2 = instrucao2.rename(columns={'Unnamed: 26': 'Sabem ler e escrever', 'Unnamed: 27': 'Analfabetos', 'Unnamed: 28': 'Sabem ler e escrever', 'Unnamed: 29': 'Analfabetas', 'Unnamed: 30': 'Frequentam escolas', 'Unnamed: 31': 'Não frequentam', 'Unnamed: 32': 'Total', 'Unnamed: 33': 'Frequentam escolas', 'Unnamed: 34': 'Não frequentam', 'Unnamed: 35': 'Total'})
instrucao2.head()

,Recapitulação,Sabem ler e escrever,Analfabetos,Sabem ler e escrever,Analfabetas,Frequentam escolas,Não frequentam,Total,Frequentam escolas,Não frequentam,Total
0,População livre,1012097,3306602,550981,3549992,155651,786131,941782,165098,795574,960672
1,População escrava,958,804212,445,705191,155651,786131,941782,165098,795574,960672
2,Total,1013055,4110814,551426,4255183,155651,786131,941782,165098,1332274,960672

### Adultos

In [466]:
instrucao_adultos2 = df[['Recapitulação','Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29']]
instrucao_adultos2 = instrucao_adultos2.rename(columns={'Unnamed: 26': 'Sabem ler e escrever', 'Unnamed: 27': 'Analfabetos', 'Unnamed: 28': 'Sabem ler e escrever', 'Unnamed: 29': 'Analfabetas'})
instrucao_adultos2.head()

,Recapitulação,Sabem ler e escrever,Analfabetos,Sabem ler e escrever,Analfabetas
0,População livre,1012097,3306602,550981,3549992
1,População escrava,958,804212,445,705191
2,Total,1013055,4110814,551426,4255183

### Jovens

In [467]:
instrucao_jovens2 = df[['Recapitulação', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35']]
instrucao_jovens2 = instrucao_jovens2.rename(columns={'Unnamed: 30': 'Frequentam escolas', 'Unnamed: 31': 'Não frequentam', 'Unnamed: 32': 'Total', 'Unnamed: 33': 'Frequentam escolas', 'Unnamed: 34': 'Não frequentam', 'Unnamed: 35': 'Total'})
instrucao_jovens2.head()

,Recapitulação,Frequentam escolas,Não frequentam,Total,Frequentam escolas,Não frequentam,Total
0,População livre,155651,786131,941782,165098,795574,960672
1,População escrava,155651,786131,941782,165098,795574,960672
2,Total,155651,786131,941782,165098,1332274,960672

## Casas

In [468]:
casas2 = df[['Recapitulação', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38']]
casas2 = casas2.rename(columns={'Unnamed: 36': 'Habitadas', 'Unnamed: 37': 'Desabitadas', 'Unnamed: 38': 'Total'})
casas2.head()

       Recapitulação  Habitadas  Desabitadas    Total
0    População livre    1296060        34150  1330210
1  População escrava    1296060        34150  1330210
2              Total    1296060        34150  1330210

## Fogos

In [469]:
fogos2 = df[['Recapitulação', 'Unnamed: 39']]
fogos2 = fogos2.rename(columns={'Recapitulação': '', 'Unnamed: 39': 'Fogos'})
fogos2.head()

                        Fogos
0    População livre  1332274
1  População escrava  1332274
2              Total  1332274

In [470]:
'''
data = {
    ('A', 'X'): [1, 2, 3],
    ('A', 'Y'): [4, 5, 6],
    ('B', 'X'): [7, 8, 9],
    ('B', 'Y'): [10, 11, 12]
}

# Create a DataFrame with multi-index columns
df = pd.DataFrame(data)

# Create multi-index header
header = pd.MultiIndex.from_tuples([('A', 'Group1'), ('A', 'Group2'), ('B', 'Group1'), ('B', 'Group2')])

# Assign the multi-index header to the DataFrame columns
df.columns = header

print(df)
'''

"\ndata = {\n    ('A', 'X'): [1, 2, 3],\n    ('A', 'Y'): [4, 5, 6],\n    ('B', 'X'): [7, 8, 9],\n    ('B', 'Y'): [10, 11, 12]\n}\n\n# Create a DataFrame with multi-index columns\ndf = pd.DataFrame(data)\n\n# Create multi-index header\nheader = pd.MultiIndex.from_tuples([('A', 'Group1'), ('A', 'Group2'), ('B', 'Group1'), ('B', 'Group2')])\n\n# Assign the multi-index header to the DataFrame columns\ndf.columns = header\n\nprint(df)\n"